body{
  background-image: url("~src/assets/track.jpeg");
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.example-card {
  border-radius: 15px;
  max-width: 800px;
  margin-bottom: 15px;
}
p{
  font-size: medium;
}

.card{
  height: 120vh;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: initial;
  padding-left: 80px;
}
.imgcard{
  float: right;
}

#arrlevel h3 {
    display: inline;
    vertical-align: top;
    line-height: 28px;
    font-weight: bold;
    font-style: italic;
}
#arrlevel p {
  display: inline;
  vertical-align: top;
  line-height: 28px;
}
.htit{
  font-weight: bold;
}
.par{
  width: 800px;
  color: white;
  font-size: 30px;
  font-family:  'Calibri';
  font-style: initial ;
  line-height: 30px;
}
h1{
  font-size: 55px;
  font-family:  'Calibri';
  color: white;
  padding-bottom: 5px;
}
.htitle{
  padding-top: 30px;
  padding-left: 80px;
  padding-bottom: 10px;
}