<body>
    <div class="htitle">
    <h1>Bicycle Tracks</h1>
    <p class="par">Can we invite you for a trip? Our recommendations are updated every week so that you get to know all the beautiful trips!</p>
    </div>
    <div class="card">
        <mat-card class="example-card" *ngFor = "let trk of tracksarr">
        <img class="imgcard" [src]="trk.img" width="250" height="180" >
        <mat-card-content>
            <mat-card-title class="htit">{{trk.name}}</mat-card-title>
          <div id="arrlevel">
            <h3 >Level of difficulty: </h3>
            <p>{{trk.level}}</p> 
        </div>
        <div id="arrlevel">
            <h3 >Estimated time: </h3>
            <p>{{trk.time}}h</p> 
        </div>
        <div id="arrlevel">
            <h3 >Distance: </h3>
            <p>{{trk.km}}km</p> 
        </div>
        <p>{{trk.des}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    </body>