mat-card{
    display:inline-block;
    width:56%;
    background-color: #1a1a1a;
    color:#ffffff
}
h1{
    font-size: 40px;
    text-align: center;
}
.step{
font-size: 23px;
margin-top:28px;
font-weight: bold;
}

.labels{
    margin-left: 5%;

}
label{
display:inline-block;
   width:30%;
    font-size: 20px;
}
.dates{
    margin-left: 5%;
}
.mat-form-field{
    display:inline-block;
   margin-right: 5%;
   margin-top:0;  
}
input{
    display:inline-block;
    height: 40px;
    width: 200px;
    background-color: white;
    margin-top: 0;
    border-radius: 5px;
    color:black;
}
 .second_div{
height:70px !important;
} 

#total_days{
    display: inline-block;
    position: absolute;
    top:16.7%;
    left:61.8%;
    background-color: white;
    width:64px;
    height: 38px;
    border-radius: 5px;
    text-align: center; 
    margin-top:-5px;
    color:black;
}

.dateError{
    margin-left: 5%;
    color:red;
    font-weight: bold;
    font-size: 16px;
}

mat-checkbox{
    display:block;
    margin-left: 5%;
    color:#F2F2F2;
    font-size:18px;
  height:20px !important;
  width:20px !important;
  background:#ffffff;
  top:-3px;
margin-bottom: 2%;
}
mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
    top:-3px;
}

/* הרקע של הצ'קבוקס כשהוא מסומן */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #8C8C8C; 
   
}
.icons{
    display:inline-block;
    position: relative;
}
button{
    display:block;
    background-color: Transparent;
    border: 0px;
    font-size: 30px;
    margin-left: 2%;
}

i{
    font-size: 32.5px ;
    color:white;
}
i:hover{
    color: #8C8C8C !important;
}
p.second_block{
    position: relative;
    display:inline-block;
    top: -30px !important;
}
.var {
    background-color: white;
    height:32px;
    width:36px;
    color:black;
    text-align: center;
    font-size:19px;
    border-radius: 5px;
}
.desc{
    color:white;
    font-size: 21px;
   margin-top: 20px;
    margin-left:1%;
}

.card{
    display:inline-block;
    height:107px;
    width:200px;
    background-color: white;
    border-radius: 30px;
    margin-left: 7.5%;
    /* margin-top: 10px; */
}
.firstcard{
    /* position: relative; */
    margin-top: 5px;

}
.third_header{
    color:#555555;
    font-size: 21px;
    text-align: center;
}
.card .icons .material-icons{
    color:black;
    position: relative;
    margin-left: 50px;
}
.card .icons .material-icons:hover{
    color:black;
}

img{
    display: inline-block;
   margin-left: 5px;
   margin-bottom: 10px;
   margin-left: 5px;
}

.third_var{
   position: absolute;
    display:inline-block;
    border-style: solid;
    width:36px;
    height:40px;
    font-size: 19px;
    text-align: center;
    border-radius: 5px;
    margin-top:5px;
    margin-left: 10px;
    padding-top:1%;
  color:black;
}

.card_items{
    display:inline-block;
   margin-left:20px;
   align-self: flex-end;
}

.confirm{
    display:block;
    width:220px !important;
    height:60px !important;
    border-radius: 10px !important;
    color:black;
    margin-top:25px;
    box-shadow: 10px 10px 5px;
}

#total_amount{
    margin-left: 2%;
}

.confirm:disabled{
    background-color:#7F7F7F;
    box-shadow: 10px 10px 5px;
}

.confirm:enabled{
    background-color:#3273DC;
}
.confirm:enabled:hover{
    background-color:#9EFA80;
}
body{
    background-attachment:fixed;
    background-repeat: no-repeat;
    height:auto;
    width:100%;
    overflow:hidden;
    background: url("~src/assets/renting.jpg");
}
