body{
    background-image: url("~src/assets/rent.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:  'Calibri';
  } 
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .element-row {
    position: relative;
    overflow: hidden;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  
  .titlePage{
    color: white;
    width: 79.5%;
    padding-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    padding-left: 10px;
    
  }
  
  .allpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .incdenttable{
    width: 80%;
    margin-top: 10px;
    
  }
  
  .insrow{
    padding-top: 10px;
    width: 100%;
    display: flex;
  }
  
  .cola{
    flex: 1px;
    width: 50%;
    border-right: 3px solid black;
    height: 70px;
  }
  
  .colb{
    width: 50%;
  }
  
  h1{
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid white;
    width: 380px;
    padding-bottom: 15px;
  }
  
  h2{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  
  
  h3{
    font-size: 25px;
  }
  
  
  .des{
    font-size: 15px;
    text-align: center;
    
  }
  
  .datescol{
    color: #000080;
  }
  
  mat-cell{
    border-bottom: 2px solid #88d904;
    font-size: 17px;
  }
  
  mat-header-cell{
    background-color:#e0e0e0 ;
    font-weight: bold;
    opacity: 0.85;
    font-size: 20px;
    color: black;
  }

.boldcell{
  font-weight: bold;
  
}

.plus{
  padding-right: 5px;
}
.container{
  padding-left: 4%;
  padding-bottom: 10px;
}
  
  
  
  