<body>
    <div class="allpage">
      <div class="titlePage">
        <h1>{{title}}</h1>
        <h3>All your bike rentals are here, a reminder of all the amazing hikes</h3>
      </div>
          
      <div class="incdenttable">
        <mat-table #table [dataSource]="dataSource">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
  
          <!-- start date Column -->
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
            <mat-cell *matCellDef="let element" class="datescol"> {{element.startDate}} </mat-cell>
          </ng-container>
  
          <!-- end date Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
          </ng-container>
          
          <!-- amount Column -->
          <ng-container matColumnDef="total_Amount">
            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
            <mat-cell class="boldcell" *matCellDef="let element"> {{element.total_Amount}}$ </mat-cell>
          </ng-container>

          <!-- number of bicycles Column -->
          <ng-container matColumnDef="numberOfBicycles">
            <mat-header-cell *matHeaderCellDef> Number Of Bicycles </mat-header-cell>
            <mat-cell class="boldcell" *matCellDef="let element"> {{element.numberOfBicycles}} </mat-cell>
          </ng-container>    

          <!-- more details Column
          <ng-container matColumnDef="more">
            <mat-header-cell *matHeaderCellDef> More Details </mat-header-cell>
            <mat-cell class="boldcell" *matCellDef="let element"><span class="plus">&#43;</span> More Details </mat-cell>
          </ng-container> -->
  
          <!-- edit Column -->
          <ng-container  matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> Edit/Delete </mat-header-cell>
            <mat-cell class="boldcell" *matCellDef="let element">
              <!-- <button mat-raised-button [routerLink]="'/Renting/'+ element.id" routerLinkActive="active"  color="primary" style="width: 45%;" >Edit </button> -->
              <!-- <button mat-fab color="primary"  (click)="delete(element.id)" style="width: 45%; margin-left: 5%;"  >Delete </button>    -->
              <button mat-mini-fab color="primary" [routerLink]="'/Renting/'+ element.id" routerLinkActive="active" style="margin-right: 10px; margin-left: 10px;" >
                <i class="material-icons">mode_edit</i>
              </button>
              <button mat-mini-fab style="margin-left: 10px; margin-right: 10px;">
                <mat-icon>more_vert</mat-icon>
              </button>
              <button mat-mini-fab color="warn" (click)="delete(element.id)" style="margin-left: 10px; " >
                <mat-icon >delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          
          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let detail"> 
              <div class="insrow">
                <div class="cola">
                  <h2>Bicycles</h2>
                  <div class="container"fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="25%">
                      Children - {{detail.element.children_bicycles}} 
                    </div>
                    <div fxFlex="25%">
                      Road - {{detail.element.Road_bicycles}} 
                    </div>
                    <div fxFlex="25%">
                      Mountain - {{detail.element.Mountain_bicycles}} 
                    </div>
                    <div fxFlex="25%">
                      Electric - {{detail.element.Electric_bicycles}} 
                    </div>
                  </div>
                </div>
  
                <div class="colb">
                  <h2>Equipment</h2>
                  <div class="container"fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="40%">
                      Glasses - {{detail.element.Glasses}} 
                    </div>
                    <div fxFlex="30%">
                      Helmet - {{detail.element.Helmet}} 
                    </div>
                    <div fxFlex="30%">
                      Protectors - {{detail.element.Protectors}} 
                    </div>
                  </div>
                </div>
            </div>
  
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                  matRipple 
                  class="element-row" 
                  [class.expanded]="expandedElement == row"
                  (click)="expandedElement = expandedElement === row ? null : row"></mat-row>
          <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                  [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                  style="overflow: hidden"> 
          </mat-row>
        </mat-table>
      </div>
    </div>
  </body>
  
  