<body>
    <div class="card">
        <mat-card class="example-card">
            <h1>Open New Incident</h1>
            <form #incidentForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="example-container">

                <div class="infil">
                <h3>Subject</h3>
                <mat-form-field style="width: 410px;">
                    
                    <input matInput  placeholder="e.g. flat tire, Payment issue, handlebar not aimed" [(ngModel)] = "subject"
                        name = "subject"
                        required #spy
                        #temp = "ngModel">
                    <mat-error *ngIf="!(temp.valid || temp.pristine)">
                        Subject is required
                    </mat-error>                        
                </mat-form-field>
                </div>

                <div class="infil">
                <h3>Description</h3>
                <mat-form-field style="width: 410px;">
                    <textarea 
                        matInput placeholder="The description helps us to classifying the incident"
                        [(ngModel)] = "text"
                        name = "text"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="10"
                        cdkAutosizeMaxRows="20"  
                        required #spy   
                        #temp = "ngModel"                      
                    >
                    </textarea>   
                    <mat-error *ngIf="!(temp.valid || temp.pristine)">
                        Description is required
                    </mat-error>         
                </mat-form-field> 
                </div>
   
                <div>
                      <button mat-raised-button color="primary" [disabled]="!incidentForm.form.valid">Submit new incident</button>
                </div>
            </div>
            </form>
        </mat-card>
    </div>
</body>

