body{
    background-image: url("~src/assets/inc.jpg");
    font-family:  'Calibri';
} 
.example-card {
    border-radius: 15px;
    width: 440px;
    max-width: 1000px;
    margin-bottom: 15px;
}

.card{
    height: 80vh;
    opacity: 0.95;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}
h3{
    font-size: 25px;
}

.example-card{
    padding-left: 25px;
}

button{
    height: 50px;
    width: 200px;
    font-size: 17px;
    font-weight: bolder;
}


