<body>
  <h1>Great to have you Back!</h1>
<mat-card>
    <!--h1>LogIn</h1-->
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
          <div>
        <label>Email Address</label>
        <mat-form-field>
          <input matInput  [(ngModel)] = "email"   name = "email" placeholder="example@example.com"
     required #spy>
          
        </mat-form-field>
    </div>
    <div>
      <label>Password</label>
        <mat-form-field> 
          <input matInput placeholder="Password" [(ngModel)] = "password" name = "password" type="password"  required #spy>
        </mat-form-field>
    </div>
    <a href="login">Forgot password?</a>
        <div >
            <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">LogIn</button>
            <span>
            <p>Not a memeber?<br> </p>
            <p>Let's fix that!  <a href="signup">Signup</a></p>
            </span>
        </div>
      </div>
    </form>
</mat-card>
</body>
