@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
    background: url("~src/assets/login.jpg");
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height:90.7%;
    width:100%;
    overflow:hidden;
}
mat-card{
    background-color: white;
    background-position: center center;
    height:400px;
    width:400px;
    margin-left:47px;
}
h1{
    font-weight: bolder;
    font-size: 36px;
    font-style: Calibri;
    margin-left:47px;
    margin-top:41px;
}
label{
    display:block;
}
.mat-focused .placeholder {
    color: transparent;
}

a{
    text-decoration: none;
}

button{
    display:inline-block;
    margin-top:33px;
    height:58px;
    width:132px;
}
p{
    display:inline;
    align-items: flex-start;
    font-size: 19px; 
    font-style: Calibri;
    margin:0;
    padding:0;
}
