<mat-sidenav-container class="sidenav-container">
  <!--mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"-->
    <!--mat-toolbar>Menu</mat-toolbar-->
    <!--mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list-->
  <!--/mat-sidenav-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!--button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button-->
      <a class = "title" routerLink="/allRental" *ngIf = "(authService.user | async)?.uid">
         <img src="assets/logo.png" width="80" height="30"> 
      </a>

      <a class = "title" routerLink="/Home" *ngIf = "!(authService.user | async)?.uid">
        <img src="assets/logo.png" width="80" height="30"> 
     </a>


      <a  class = "whitelink" routerLink="/Renting"
      *ngIf = "(authService.user | async)?.uid">Bicycle Rent</a>
      <a class = "whitelink" routerLink="/allRental"
      *ngIf = "(authService.user | async)?.uid">My Rental</a>
      <a class = "whitelink" routerLink="/weather"
      *ngIf = "(authService.user | async)?.uid">Weather</a>
      <a class = "whitelink" routerLink="/tracks"
      *ngIf = "(authService.user | async)?.uid">Tracks</a>
      <a class = "whitelink" routerLink="/allIncidents"
      *ngIf = "(authService.user | async)?.uid">Incidents</a>
      <!-- only admin -->
      <a class = "whitelink" routerLink="/Dashboard"
      *ngIf = "(authService.user | async)?.uid && (authService.user | async).email =='a@a.com'">Dashboard</a>


      <span class="spacer"></span>
      <a class = "whitelink" class = "whitelink" 
         routerLink="/signup"
         *ngIf = "!(authService.user | async)?.uid" >SignUp</a>
      <a class = "whitelink" 
         routerLink="/login"
         *ngIf = "!(authService.user | async)?.uid">Login</a>
      <a class = "whitelink" 
         *ngIf = "(authService.user | async)?.uid" 
        (click) = "authService.Logout()">Logout</a>
        <i class="material-icons">help_outline</i>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
