body{
    background-image: url("~src/assets/Incidents.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:  'Calibri';
} 
table {
    width: 100%;
    
}
  
.mat-form-field {
    font-size: 14px;
     width: 100%;
}
  
td {
    width: 25%;
    font-size: 20px;
  
}
th {
    width: 25%;
    font-size: 20px;
    background-color:#e0e0e0;
    
}

.divfill{
    padding-top: 10px;
    opacity: 0.85;
    width: 80%;
    display: flex;
}

.cola{
    flex: 1px;
    width: 80%;
}
.colb{
    width: 20%;
    background-color: #9BA0AA;
}


.fillter{
    background-color: white;
}

.addinc{
    height: 100%; 
    width: 100%; 
    background-color: #9BA0AA;
    color: white;
    border: none;
    font-size: 20px;
}

.incdenttable{
    width: 80%;
    opacity: 0.85;
}

.titlePage{
    background-color: #e0e0e0;
    width: 79.5%;
    padding-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    padding-left: 10px;
    opacity: 0.85;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h3{
    font-size: 25px;
}

.allpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}