<body>
    <div class="allpage">
        <div class="titlePage">
          <h1>Incidents</h1>
          <h3>List of incidents found to date, you can sort or peform operations on the incidents list.</h3>
        </div>
  
  
  
      <div class="divfill">
        <div class="cola">
        <mat-form-field class="fillter">
          <mat-label style="padding-left: 5px;">Type Key Words</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field> 
      </div>
        <div class="colb"><button class="addinc" routerLink="/incidentForm" routerLinkActive="active">+ Open new incident</button></div>
      </div>
  
        
        <div class="incdenttable">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- No. Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > No. </th>
              <td mat-cell *matCellDef="let row"> {{row.no}} </td>
            </ng-container>
        
            <!-- Subject Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
              <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
            </ng-container>
  
            <!-- category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
              <td mat-cell *matCellDef="let row"> {{row.category}} </td>
            </ng-container>
    
            <!-- Opended Date Column -->
            <ng-container matColumnDef="opendate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Opended Date </th>
              <td mat-cell *matCellDef="let row"> {{row.opendate}} </td>
            </ng-container>
          
            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
  </body>
  