body{
    background: url("~src/assets/login.jpg");
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height:90.7%;
    width:100%;
    overflow:hidden;
}
mat-card{
    background-color: white;
    background-position: center center;
    height:400px;
    width:400px;
    margin-left:47px;
}
h1{
    font-weight: bolder;
    font-size: 36px;
    font-style: Calibri;
    margin-left:47px;
    margin-top:41px;
}
label{
    display:block;
}

.error{
    color:red;
    font-size: 12px;
}
button{
    display:inline-block;
    margin-top:10px;
    font-size: 22px;
    height:58px;
    width:132px;
}
/* input{
    margin-bottom: 10px;
} */

p{
    display:inline;
    align-items: flex-start;
    font-size: 19px; 
    font-style: Calibri;
    margin:0;
    padding:0;
}
a{
    font-size: 18px;
}

