<body>
  <h1>Nice to meet you</h1>
  <mat-card>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <div>
          <label>Email Address</label>
          <mat-form-field>
            <input matInput [(ngModel)]="email" name="email" placeholder="example@example.com" (focusout)="checkEmail()"
              (focus)="emailError=''" required #spy>
          </mat-form-field>
          <br>
          <div class="error">{{emailError}}</div>
        </div>

        <div>
          <label for="password" class="control-label">Password</label>
          <div class="high-80">
          <mat-form-field>
            <input matInput name="password" placeholder="At least 8 characters long" type="password" (focusout)="checkPassword()"
            (focus)="passwordError=''"  [(ngModel)]="password" required #spy>
          </mat-form-field>
          <div class="error">{{passwordError}}</div>
          </div>
        </div>
        <br>
        <div>
          <label for="confirmPassword" class="control-label">Confirm Password</label>
          <mat-form-field>
            <input matInput name="confirmPassword" placeholder="At least 8 characters long" type="password" (focusout)="checkConfirmPassword()"
            (focus)="confirmPasswordError=''" [(ngModel)]="confirmPassword" required #spy>
          </mat-form-field>
          <br>
          <span class="error">{{confirmPasswordError}}</span>
        </div>

        <div>
          <button mat-raised-button color="primary"
            [disabled]="!signupForm.form.valid || password!==confirmPassword">Sign Up</button>
            <div style="margin-top: 5px;">
              <p>Already a member? </p>
              <a href="login">Login</a>
            </div>
        </div>
        
      </div>
    </form>
  </mat-card>
</body>