body{
    background-color: #5993AC;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.grahp-1,.grahp-2,.grahp-3,.grahp-4,.grahp-5 {
    display: flex !important;
    flex-direction: column !important;
} 
.title-page{
    background-color: white;
    padding-left: 10px;
}
h1{
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    padding-top: 10px;
}
h3{
    color: white;
    font-size: 20px;
    margin-left: 2.3%;
    height: 15px;
}
.bef{
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 95%;
    margin-left: 1.5%;
}
