<body>
    
    <div class="title-page"><h1>Admin Dashboard</h1></div>
    <h3>Rental</h3>
    <div class="mat-card-cvr">
    <mat-card class="bef">
        <div class="container"fxLayout="row" fxLayoutGap="10px">
            <mat-card class="grahp-1" fxFlex="40%" >
                <h2 style="text-align: center; font-size: 24; font-weight: bold;">Stocktaking (Rental/Total)</h2>
                <div style="display: block; width: 390px; margin-left: 15%; margin-bottom: 7px;">
                    <span style="float: left; font-size: 24px; color: #7f7f7f;">Bikes</span>
                    <span style="float: right; font-size: 24px; color: #7f7f7f;">Equipment</span>
                </div>
                <div class="container"fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="25%" style="font-size: 20px; line-height: 30px; color: #00cd2d;">
                        Children <br>
                        <span style="color: red;">Road</span> <br>
                        Mountain <br>
                        Electric 
                    </div>
                    <div fxFlex="25%" style="font-size: 20px; line-height: 30px; color: #00cd2d;">
                        121/300 <br>
                        <span style="color: red;">449/500</span> <br>
                        68/150 <br>
                        232/400 
                    </div>
                    <div fxFlex="25%" style="font-size: 20px; line-height: 30px; color: #00cd2d;">
                        <span style="color: red;"> Helmet</span> <br>
                        Glasses <br>
                        Protectors 
                    </div>    
                    <div fxFlex="25%" style="font-size: 20px;  line-height: 30px; color: #00cd2d;">
                        <span style="color: red;">856/900 </span><br>
                        121/300 <br>
                        125/300
                    </div>    
                </div>
            </mat-card>
            <mat-card class="grahp-2" fxFlex="60%"> 
                <div style="display: block; margin-bottom: 5px;">
                    <span style="float: left; font-weight: bold; font-size: 18px;">Number of rentals per day</span> 
                    <span style="float: right; font-weight: bold; font-size: 18px; color: #7f7f7f;">Target: 350K per month</span> 
                </div>
                <highcharts-chart  [Highcharts]="Highcharts" [options]="allrental" style="height: 250px;"></highcharts-chart></mat-card>
        </div>
    </mat-card>     
</div>
    <h3>Incident</h3>
    <div class="mat-card-cvr">
    <mat-card class="bef">
        <div class="container"fxLayout="row" fxLayoutGap="10px">
            <mat-card class="grahp-3" fxFlex="24%">
                <highcharts-chart [Highcharts]="Highcharts" [options]="allIncidentCategory" style="height: 250px;" ></highcharts-chart>
                </mat-card>  
            <mat-card class="grahp-4" fxFlex="24%">
                <highcharts-chart  [Highcharts]="Highcharts" [options]="lostCasePerMonth" style="height: 250px;"></highcharts-chart>
            </mat-card>
            <mat-card class="grahp-5" fxFlex="52%"> 
                <highcharts-chart  [Highcharts]="Highcharts" [options]="allIncidentResolved" style="height: 250px;"></highcharts-chart>
            </mat-card>
        </div>
    </mat-card>
</div>
</body>

