<body>

        <h1>Welcome to Wheel Trip</h1>
        <p>Join us and choose your next trip!</p>
        <p>With CYCLE you can arrange your trip, from</p>
        <p> bike rental and accessories, travel </p>
        <p>recommendations, weather forecasting and more</p>
    
    <div>
        <h2>Not a member?</h2>
        <h2>Let's fix that! <a href="signup">Signup</a></h2>
    </div>
    <div>
        <h2>Do we already know?</h2>
        <h2>So just <a href="login">Login</a></h2>
    </div>

</body>