body{
    background: url("~src/assets/login.jpg");
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height:90.7%;
    width:100%;
    overflow:hidden;
}

h1{
    margin-top: 48px;
    margin-left: 51px;
    font-weight: bold;
    font-size: 36px;
    margin-bottom:36px;
}

p{
    margin-bottom: 15px;
    margin-left: 51px;
    font-size: 27px;
}

h2{
    font-size: 33px;
    font-weight: normal;
    margin:0;
    padding:0;
}

div{
    margin-top: 47px;
    margin-left: 51px;
}

img{
    background:none;
}