body{
    background: url("~src/assets/orderCompleted.jpg");
    background-position: center center;
    background-size: 100% 100%;
    height:91.7%;
}
.message{
    position:absolute;
    display:inline-block;
    background-color:rgba(255 , 255, 255, 0.8);
   border-radius: 30px;
   width:500px;
   height:338px;
   top:-20%;
   left:1%
    
}
h1{
    color:#000080;
    text-align: center;
    font-size: 49px;
    margin-top: 5%;
    margin-bottom: 7%;
}
p{
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
}
mat-raised-button{
    display:inline-block;
    border-radius: 10%; 
    width:153px;
    height:72px;
}
#rental_button{
    display:inline-block;
    padding:2% 2%;
    background-color: lightskyblue;
    font-size: 20px; 
    border: 3px solid lightskyblue ; 
    margin-right: 16%;
    margin-left:10%;
    
}

#weather_button{
 display: inline-block;
 padding:2% 2%;
    font-size: 20px;  
    background-color: white;
    border: 4px solid #81D3F8 ;
   
}

div{
    margin-top:15%;
}
