<body>
    <div class="message">
        <h1>Exciting!</h1>
        <p>Your order has been completed!</p>
        <p>Your trip is fast approaching</p>
        <div>
        <button mat-raised-button id="rental_button" routerLink="/allRental" routerLinkActive="active">All My Rentals</button>
        <button mat-raised-button id="weather_button" routerLink="/weather" routerLinkActive="active">Weather Forcast</button>
    </div>
    </div>
</body>